<h1>Hello World</h1>

<app-container>
    <app-rooms></app-rooms>
    <h1>This is from ng-content</h1>
    <app-employee></app-employee>
</app-container>

<!-- <div #name></div>

<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'"> Welcome User!</div>
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page!
    </div>
</div>

<app-container>
    <h1>This is from ng-content</h1>
</app-container>

<div>
    <ng-template #user></ng-template>
</div> -->
